<div class="chatbot-container">
  <div class="side-menu">
    <button class="new-chat-btn" (click)="newChat()">+ New Chat</button>
    <div class="chat-history">
      <p *ngFor="let session of previousSessions" (click)="loadChatSession(session)" [class.active-session]="isActiveSession(session.sessionId)">
       Chat Session ID -  {{ session.sessionId }} ({{ session.createdAt | date: 'short' }})
      </p>
    </div>
  </div>

  <div class="main-chat">
    <div class="chat-header">
      <div><img src="assets/logos/nmbslogo.png" alt="Nimbus Logo" class="nmbs-logo" /></div>
      <h2>Nimbus Capability Statement AI Helper</h2>
      <app-menu></app-menu>
    </div>

    <div class="chat-box" #chatBox>
      <div *ngFor="let message of messages">
        <div *ngIf="message.role === 'user'" class="user-message">
          <strong>{{ username }}: </strong>
          <span [innerHTML]="message.content | lineBreak"></span>
        </div>

        <div *ngIf="message.role === 'bot'" class="bot-message">
          <strong>{{ model_name }}: </strong>
          <span [innerHTML]="message.content | lineBreak"></span>
          <div class="source-controls">
            <button class="toggle-sources-btn" (click)="toggleSourceVisibility(message)">
              {{ message.showSources ? 'Hide Information Sources' : 'Show Information Sources' }}
            </button>
          </div>

          <div *ngIf="message.showSources" class="sources-list">
            <div *ngFor="let source of message.sources" class="source-item">
              <a (click)="toggleSourceContent(source)" [class.collapsed]="!source.showContent">
                {{ source.name }}
              </a>
              <p *ngIf="source.showContent">{{ source.content }}</p>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="hasTemporaryMessage" class="thinking-animation">
        <p>AI is thinking...</p>
        <div class="spinner"></div>
      </div>
    </div>

    <div class="chat-input-container">
      <input
        type="text"
        [(ngModel)]="userInput"
        placeholder="Type your message..."
        (keyup.enter)="sendMessage()"
      />
      <button class="send-btn" (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>