/* You can add global styles to this file, and also import other style files */
/* styles.css */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  * {
    box-sizing: inherit;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600; /* Bold headlines */
  }
  
  p, span, input, button {
    font-weight: 400; /* Regular text weight */
  }
  
